# ignore o arquivo com variáveis de ambiente com chaves de acesso aws do docker
.env

#ignore a chave de api do tmdb
apikey.py
#ignore o arquivo gerado pelo apikey para execução
__pycache__

#ignore o arquivo gerado pela tarefa 3, pois é muito grande para ir ao HitHub sem ser compresso
nomes_aleatorios.txt